<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="https://anilist.co/img/icons/favicon-32x32.png">
    <title>Anilist: Track, Discover, Share Anime & Manga</title>
    <link rel="stylesheet" href="/styles/homepage.css">
    <style>
        .a-style {
            text-decoration: none;
            color: #a0b1c5;
            font-size: 14px;
        }

        .sign-up {
            display: flex;
            align-items: center;
        }
    </style>
</head>

<body>
    <nav class="nav-container">
        <div class="wrap">
            <a href="/" class="wrap-flex-item"><img class="logo" src="https://anilist.co/img/icons/icon.svg" alt=""></a>
            <div class="links">
                <a class="a-style nav-flex-item" href="/login">Search</a>
                <a class="a-style nav-flex-item" href="#">Social</a>
                <a class="a-style nav-flex-item" href="#">Forum</a>
                <a class="a-style nav-flex-item log-in" href="/login">Login</a>
                <button class="sign-up nav-flex-item"><a class="a-style" href="/signup" style="color: white">Sign Up</a></button>
            </div>
        </div>
    </nav>

    <div class="landing">

        <h1 class="heading">The next-generation anime platform</h1>
        <h2 class="sub-heading">Track, share and discover your favorite anime and manga with AniList</h2>

        <div class="feature-cards">
            <div class="feature-card">
                <div>
                    <img src="https://anilist.co/img/landing/stats.svg" alt="" width="80px">
                </div>
                <div class="tandD-container">
                    <h3 class="title">Discover your obsessions</h3>
                    <div class="description">
                        What are your highest reated genres or most watched voice actors? Follow your watching habits
                        over
                        time with in-depth statistics.
                    </div>
                </div>
            </div>

            <div class="feature-card">
                <div>
                    <img src="https://anilist.co/img/landing/apps.svg" alt="" width="80px">
                </div>
                <div class="tandD-container">
                    <h3 class="title">Bring AniList anywhere</h3>
                    <div class="description">
                        Keep track of your progress on-the-go with one of many AniList apps across iOS,
                        Android, macOS, and Windows.
                    </div>
                </div>

            </div>

            <div class="feature-card">
                <div>
                    <img src="https://anilist.co/img/landing/social.svg" alt="" width="80px">
                </div>
                <div class="tandD-container">
                    <h3 class="title">Join the conversation</h3>
                    <div class="description">
                        Share your thoughts with our thriving community, make friends, socialize, and
                        receive recommendations.
                    </div>
                </div>
            </div>

            <div class="feature-card">
                <div>
                    <img src="https://anilist.co/img/landing/custom.svg" alt="" width="80px">
                </div>
                <div class="tandD-container">
                    <h3 class="title">Tweak it to your liking</h3>
                    <div class="description">
                        Customize your scoring system, title format, color scheme, and much more! Also, we
                        have a dark mode.
                    </div>
                </div>
            </div>
        </div>

        <div style="text-align: center;"><button class="join-now"><a class="a-style" href="/signup" style="color: #F7FAFC">Join Now</a></button></div>
    </div>

</body>

</html>