<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Forum - Create Thread · AniList</title>
    <link rel="icon" type="image/png" sizes="32x32" href="https://anilist.co/img/icons/favicon-32x32.png" />
    <link rel="stylesheet" href="/styles/media_individual.css" />
    <link rel="stylesheet" href="/styles/required.css" />
    <link rel="stylesheet" href="/styles/thread.css" />
</head>

<body>
    <!-- <%- include("navcontainer.ejs", { isAdmin, userimage, username }) %> -->

        <div class="forum-thread-container">
            <h2 class="title">Would you fuck the above user avatar?</h2>
            <div class="body">
                <div class="header">
                    <a href="">
                        <img src="https://s4.anilist.co/file/anilistcdn/user/avatar/large/b620305-RJShMpqiJ7Kc.png"
                            alt="" />
                    </a>

                    <div class="username">MPJ</div>
                    <div class="time">5 years ago</div>
                </div>

                <div class="thread-body">
                    There's threads about killing or marrying the above user's avatar. So
                    why not top it all off with fucking to complete it! Start with me
                </div>

                <div class="footer">
                    <div class="category">forum games</div>
                    <div class="actions">
                        <div class="subscribe btn">Subscribe</div>
                        <div class="likee btn">
                            <span style="
                    color: #fff;
                    display: block;
                    margin-right: 5px;
                    font-size: 14px;
                    align-self: center;
                ">53</span>
                            <svg style="align-self: center" aria-hidden="true" focusable="false" data-prefix="fas"
                                data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path data-v-3f00779d="" data-v-5fb0ec91="" fill="currentColor"
                                    d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"
                                    class=""></path>
                            </svg>
                        </div>
                        <div class="comment">Comment</div>
                    </div>
                </div>
            </div>

            <div>
                <div class="comments-header">4140 Replies</div>

                <div class="comments">

                    <div class="comment-wrap">
                        <div class="collapse"></div>
                        <div class="grow">
                            <div class="comment">

                                <div class="header-margin">
                                    <a href="">
                                        <img src="https://s4.anilist.co/file/anilistcdn/user/avatar/large/b298759-jDVTfCOSDpx3.png" alt="">
                                    </a>
                                    <div class="username">nayeem.j.i</div>
                                    <div class="timee">3 years ago</div>

                                    <div class="comment-link">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="reply" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path data-v-20438142="" fill="currentColor" d="M8.309 189.836L184.313 37.851C199.719 24.546 224 35.347 224 56.015v80.053c160.629 1.839 288 34.032 288 186.258 0 61.441-39.581 122.309-83.333 154.132-13.653 9.931-33.111-2.533-28.077-18.631 45.344-145.012-21.507-183.51-176.59-185.742V360c0 20.7-24.3 31.453-39.687 18.164l-176.004-152c-11.071-9.562-11.086-26.753 0-36.328z">
                                        </path>
                                    </svg>
                                    </div>

                                </div>

                                <div class="comment-description">
                                    @mateo72 I daresay you enjoy fanservice a lot, kek
                                </div>

                            </div>

                            <div class="children">
                            </div>

                        </div>
                    </div>

                </div>
                
            </div>
        </div>

        <div class="comment-editor">
            
        </div>

        <script src="/scripts/tooltip.js"></script>
</body>

</html>