<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>User Profile Settings &#183; AniList</title>
    <link rel="icon" type="image/png" sizes="32x32" href="https://anilist.co/img/icons/favicon-32x32.png" />
    <link rel="stylesheet" href="/styles/media_individual.css" />
    <style>
        .a-style {
            text-decoration: none;
            color: #a0b1c5;
            font-size: 14px;
        }
    </style>

    <style>
        .containerr {
            max-width: 800px;
            height: 400px;
            padding: 20px;
            background-color: #151f2e;
            margin: 40px auto;
        }

        .headline {
            font-family: "Roboto";
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 15px;
            color: #9fadbd;
        }

        .sectional-form {
            margin-bottom: 20px;
            height: 30%;
        }

        .sectional-form label {
            display: block;
            margin-bottom: 10px;
            color: #9fadbd;
            font-family: "Roboto";
            font-size: 14px;
            font-weight: 500;
            padding-left: 10px;
        }

        .sectional-form input {
            width: 80%;
            height: 40%;
        }

        .sectional-form input:hover {
            border: gray 1px solid;
        }

        .btn {
            width: 80px;
            padding: 10px;
            border: none;
            border-radius: 4px;
            background-color: #3db4f2;
            color: #fff;
            transition: opacity 0.2s ease-in;
        }

        .btn:hover {
            opacity: 0.7;
        }

        .btn:active {
            opacity: 0.5;
        }
    </style>
</head>

<body>
    <%-include("navcontainer.ejs", { isAdmin, userimage, username }) %>

        <form action="/settings" method="POST" class="containerr">
            <h2 class="headline">Avatar</h2>
            <div class="sectional-form">
                <label for="coverimage">Cover</label>
                <input type="text" id="coverimage" name="Cover" placeholder="paste your url here..." />
            </div>

            <div class="sectional-form">
                <label for="bannerimage">Banner</label>
                <input type="text" id="bannerimage" name="Banner" placeholder="paste your url here..." />
            </div>

            <button type="submit" class="btn">Save</button>
        </form>

        <script src="/scripts/tooltip.js"></script>
</body>

</html>