@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'League Spartan';
    box-sizing: border-box;
}

body {
    background: #0B1622;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #9FADBD;
}

.logo {
    width: 50px;
    height: 50px;
    align-self: center;
    justify-self: center;
    margin-right: auto;
    flex: 2;
}

.search-icon {
    width: 18px;
    height: 18px;
    color: #a0b1c5;
    align-self: center;
    justify-self: center;
    flex: 1;
}

.user {
    background: black;
    align-self: center;
    justify-self: center;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-img {
    width: 38px;
    height: 38px;
}

.nav-flex-item {
    padding: 18px 16px;
    transition: color 0.2s;
}

.nav-container {
    width: 100%;
    height: 68px;
    background-color: #152232;
    color: #a0b1c5;
    display: flex;
    justify-content: center;
}

.wrap {
    width: 1050px;
    height: 100%;
    margin: 0px 50px;
    display: flex;
    justify-content: center;
}

.wrap-flex-item {
    align-self: center;
}

.links {
    flex: 35;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up {
    background-color: #3577FF;
    color: white;
    border: none;
    height: 36px;
    border-radius: 5px;
    vertical-align: center;
    cursor: pointer;
    transition: opacity 0.2s;
}

.sign-up:hover {
    opacity: 0.7;
}

.sign-up:active {
    opacity: 0.5;
}

.nav-flex-item:hover {
    color: white;
}

.signup-container {
    width: 400px;
    margin: 60px auto;
    padding: 40px;
    background-color: #151F2E;
    border-radius: 5px;
}

.signup-title {
    margin: 20px 0px 60px 0px;
    text-align: center;
}

input {
    width: 320px;
    height: 40px;
    padding: 0px 15px;
    margin-bottom: 25px;
    border: none;
    background-color: #0B1622B3;
    display: block;
    border-radius: 5px;
    color: #9FADBD;
    font-size: 0.95rem;
}

input:focus {
    outline: none;
}

.signup {
    background-color: #3DB4F2;
    margin-top: 10px;
    padding: 10px 30px;
    border: none;
    color: white;
    border-radius: 5px;
    transition: opacity 0.2s;
}

.signup:hover {
    opacity: 0.7;
}

.signup:active {
    opacity: 0.5;
}